<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div>
      <div class="header">Start your 14 day free trial</div>
      <div>No credit card required</div>
  </div>
  <div>
      <app-input name="name" placeholder="First Name" [validate]="validateName"></app-input>
      <app-input name="surname" placeholder="Last Name" [validate]="validateName"></app-input>
  </div>
  <app-input name="company" placeholder="Company Name" [validate]="validateName"></app-input>
  <div>
    <app-input name="email" placeholder="Email" [validate]="validateEmail"></app-input>
  </div>
  <app-input name="password" placeholder="Password" [validate]="validateName" type="password"></app-input>
  <div>
    <app-input name="confirmation" placeholder="Confirm Password" [validate]="confirmPassword.bind(this)" type="password"></app-input>
  </div>
  <div style="margin-top:25px;">
    <input name="checked" class="inline box" type="checkbox" checked="checked">
    <span>I agree to the terms of service</span>
  </div>
  <div style="margin-top:49px;">
    <span (click)="submit()" class="submit">Sign Up</span>
    <span (click)="cancel()">Cancel</span>
  </div>
</div>

<router-outlet></router-outlet>
