@import './app.component.scss';

.icon-box {
    position: relative;
}

input {
    @include text;
    border: none;
    border-bottom: 1px solid;
    color: #939598;
    font-size:18px;
    letter-spacing: 1px;
    margin-right:28px;
    margin-top:75px;
    padding-bottom: 14px;
    text-transform: uppercase;
}

input:focus {
    outline:none;
}

fa-icon {
    position: absolute;
    right: 10px;
    bottom: 0px;
}