<!--The content below is only a placeholder and can be replaced.-->
<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-5'>
      <div>
          <div class="header">Start your 14 day free trial</div>
          <div>No credit card required</div>
      </div>
      <div class="row">
          <div class="col-sm-5">
            <app-input marginRight="10%" (update)="register($event)" name="name" placeholder="First Name" [validate]="validateName"></app-input>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-5">
            <app-input (update)="register($event)" name="surname" placeholder="Last Name" [validate]="validateName"></app-input>
          </div>
      </div>
      <app-input (update)="register($event)" name="company" placeholder="Company Name" [validate]="validateName"></app-input>
      <div>
        <app-input (update)="register($event)" name="email" placeholder="Email" [validate]="validateEmail"></app-input>
      </div>
      <app-input (update)="register($event)" name="password" placeholder="Password" [validate]="validateName" type="password"></app-input>
      <div>
        <app-input (update)="register($event)" name="confirmation" placeholder="Confirm Password" [validate]="confirmPassword.bind(this)" type="password"></app-input>
      </div>
      <div style="margin-top:25px;">
        <input [(ngModel)]="tos" (ngModelChange)="validateTOS($event)" class="inline box" type="checkbox">
        <span>I agree to the terms of service</span>
      </div>
      <div style="margin-top:49px;">
        <app-submit [(stateIsValid)]="stateIsValid" ></app-submit>
        <span (click)="cancel()">Cancel</span>
      </div>
    </div>
    <div class="col-sm-7">
      <img class="app-image" src="../assets/group-2.jpg" />
    </div>
  </div>
</div>

<router-outlet></router-outlet>
