<span style="position:relative;">
    <span class="input-wrapper">
        <span [class]="helperText" (click)="onInputFocus()">{{placeholder}}</span>
        <input [(ngModel)]="value" (blur)="onBlur()" (focus)="onInputFocus()" [appFocus]="needsFocus" [(type)]="type" class="inline" (ngModelChange)="onChange($event)" />
        <span style="float:right;" class="icon-box">
            <span>
                <fa-icon *ngIf="secret && type === 'text'"  (click)="changeInputType()" [icon]="faEye"></fa-icon>
                <fa-icon *ngIf="secret && type === 'password'" (click)="changeInputType()" [icon]="faEyeSlash"></fa-icon>
            </span>
            <span *ngIf="value && value.length > 0">
                <fa-icon *ngIf="valid" [icon]="faSmileBeam"></fa-icon>
                <fa-icon *ngIf="!valid" [icon]="faDizzy"></fa-icon>
            </span>
        </span>
    </span>
</span>
