@import './app.component.scss';

.icon-box {
    position: relative;
}

input {
    border: none;
    font-size:18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 90%;
}

input:focus {
    outline:none;
}

.input-wrapper {
    @include text;
    border-bottom: 1px solid;
    color: #939598;
    padding-bottom: 14px;
    display:inline-block;
    margin-top:75px;
    width: 100%;
}

fa-icon {
    position: absolute;
    right: 0px;
}